/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

.table th, td{
			border:1px solid #cccccc;
			padding:5px;
	
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
